<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="WSHttpBinding_EdiWcfRealTime" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="01:10:00" sendTimeout="00:01:00">
          <transactionFlow />
          <security defaultAlgorithmSuite="Basic256Sha256Rsa15"
                    messageProtectionOrder="EncryptBeforeSign"
                    authenticationMode="MutualCertificate"
                    requireDerivedKeys="False"
                    securityHeaderLayout="LaxTimestampFirst"
                    keyEntropyMode="ServerEntropy"
                    messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <secureConversationBootstrap
              authenticationMode="MutualCertificate"
              defaultAlgorithmSuite="Basic256Sha256Rsa15"
              messageProtectionOrder="EncryptBeforeSign"
              requireDerivedKeys="False"
              securityHeaderLayout="LaxTimestampFirst"
              keyEntropyMode="ServerEntropy"
              messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"  />
          </security>
          <textMessageEncoding  messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="1048576"
              maxArrayLength="16384" maxBytesPerRead="65536" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_EdiWcfRealTime">
          <security mode="Transport" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint address="https://editest.dentaquest.com/TestEdiWcfRealTime/EdiWcfRealTime.svc"
          binding="customBinding" bindingConfiguration="WSHttpBinding_EdiWcfRealTime"
          contract="DentaQuestTestHarness.ServiceReference.IEdiWcfRealTime" name="CustomBinding_ITwoWayAsync" />
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>